*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    
}
.nav-1 a{
    text-decoration: none;
    color: black;
}
.nav-2 a{
    text-decoration: none;
    color: black;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #d0d4D5;
}

.nav img{
    height: 50px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
}

.nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-1 ul li{
    margin-right: 30px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-2 i{
    margin-right: 40px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    margin-top: 100px;
    width: 40%;
    padding: 35px 100px;
}
.content-left h2{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    color: hsl(0, 2%, 29%);
}
.content-left h1{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
}
.content-left p{
    margin-bottom: 20px;
    font-size: 20px;
}
.content button{
    height: 30px;
    width: 120px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border-top-left-radius: 0;
    cursor: pointer;
}

.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
}
.product{
    height:370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0 5px 10px rgb(44, 43, 43);
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 16.3%;
}
.product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 26%;
    margin-left: 5px;
}
.catagory{
    position: absolute;
    bottom: 20%;
    font-weight: 400;
    margin-left: 5px;
}
.color{
    position: absolute;
    bottom: 15%;
    font-weight: 400;
    margin-left: 5px;
}
.price{
    position: absolute;
    bottom: 5%;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}
.content-right a{
    color: black;
}

